<div id="frontstage" class="unselectable">
    {% include "ribbon/ribbon.html" %}
    
    <div class="page">
        <div id="canvas-container"><!-- Used by Kinetic.js to put the canvas in. --></div>
    </div>

    {% include "forms/forms.html" %}

    <div class="invisible">
        EVIL STYLING PURPOSE DIV. PUSH DOWN TEXT. TO REMAIN INVISIBLE.<br><br>
    </div>

    <footer class="sticky-bottom">
        Made by <a href="https://www.facebook.com/likhitd">Likhit Dharmapuri</a>.
        <span id="status-bar" class="pull-right"></span>
    </footer>
</div>