<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Neuron Weaver</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Open graph poperties -->
        <meta property="og:title" content="Neuron Weaver">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.stringtensor.appspot.com/">
        <meta property="og:image" content="http://www.stringtensor.appspot.com/favicon.ico">
        <meta property="og:description" content="Create, run and train neural networks using an intuitive grahical user interface.">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <link rel="favicon" href="favicon.ico">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    </head>
    <body class="hidden">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to run this application.</p>
        <![endif]-->
        <div id="frontstage">
            <div class="ribbon">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="file"><a href="#backstage" data-toggle="tab">NEURON WEAVER</a></li>
                        <li class="active"><a id="build" href="#tools" data-toggle="tab">BUILD</a></li>
                        <li><a id="run" href="#run-tab" data-toggle="tab">RUN</a></li>
                        <li class="pull-right">
                            <a class="close" id="toggle-ribbon" data-toggle="tab"><i class="icon-chevron-up"></i></a>
                        </li>
                        <li class="pull-right">
                            <a class="close" id="help" data-toggle="tab"><i class="icon-question-sign"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        {% include "html/frontstage/tools.html" %}
                        {% include "html/frontstage/run.html" %}
                    </div>
                </div>
            </div>
            
            <div class="page">
                <div id="canvas-container">
                    <!-- Used by Kinetic.js to put the canvas in. -->
                </div>
            </div>

            <div>
                {% include "html/forms/set-weights-or-thresholds.html" %}
                {% include "html/forms/set-inputs.html" %}
                {% include "html/forms/set-training-data.html" %}
            </div>

            <div class="invisible">
                EVIL STYLING PURPOSE DIV. PUSH DOWN TEXT. TO REMAIN INVISIBLE.<br><br>
            </div>

            <footer class="sticky-bottom">
                Made by <a href="https://www.facebook.com/likhitd">Likhit Dharmapuri</a>.
                <span id="status-bar" class="pull-right"></span>
            </footer>
        </div>

        <div id="backstage">
            <div class="tabbable tabs-left office-backstage">
                <ul class="nav nav-tabs">
                    <li><a href="#frontstage" data-toggle="tab"><img class="back" src="img/back.png" alt="Go to frontstage"></a></li>
                    <li><a href="#disabled" class="disabled" data-toggle="tab">New</a></li>
                    <li><a href="#disabled" class="disabled" data-toggle="tab">Save</a></li>
                    <li><a href="#help-tab" data-toggle="tab">Help</a></li>
                    <li class="active"><a href="#about-tab" data-toggle="tab">About</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="disabled">
                        Sorry, this feature has not yet been implemented.
                    </div>
                    {% include "html/backstage/help.html" %}
                    {% include "html/backstage/about.html" %}
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/kinetic.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        
        <script src="js/main.js"></script>
        <script src="js/Neuron.js"></script>
        <script src="js/Connection.js"></script>
        <script src="js/NeuralNetwork.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
