<div class="tab-pane" id="run-tab">
    <div class="ribbon-section span4">
        <div class="section-content row">
            <button type="button" class="control-large span1" id="execute" data-toggle="tooltip"
                title="Run the neural network for the specified input sets. Set the inputs using Set Inputs.">
                <img src="/img/run.png" alt="Run network">
                <div>Run</div>
            </button>
            <button type="button" class="control-large span1" id="inputs"
                data-toggle="tooltip" title="Set the inputs to feed the neural network.">
                <img src="/img/table.png" alt="Set inputs">
                <div>Set Inputs</div>
            </button>
            <div class="control-small span2" data-toogle="tooltip" title="Sepecify run rate.">
                <label>Run rate(ms)</label>
                <input type="text" class="input-small" id="time-unit" value="1000">
            </div>
        </div>
        <div class="row section-name">Execute</div>
    </div>
    <div class="section-seperator"></div>
    <div class="ribbon-section span5">
        <div class="section-content row">
            <button type="button" class="control-large span1.5" id="train" data-toggle="tooltip" 
                title="Train the neural network on the specified training data. Set the training data using Set Training Data">
                <img src="/img/train.png" alt="Train network">
                <div>Start Training</div>
            </button>
            <button type="button" class="control-large span1.5" id="training-input"
                data-toggle="tooltip" title="Set the training data to teach the neural network.">
                <img src="/img/dbl-table.png" alt="Set training data">
                <div>Set Training<br>Data</div>
            </button>
            <div class="control-small span2" data-toogle="tooltip" title="Specify the learning algorithm to use.">
                <label>Learning Algorithm<select class="span2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select></label>
            </div>
        </div>
        <div class="row section-name">Train</div>
    </div>
    <div class="section-seperator"></div>
</div>