<div class="tab-pane active" id="about-tab">
    <header class="tab-header">
        <h1>About</h1>
        <p>
            Thank you for using Neural Weaver.
            This application was created by <a href="http://www.facebook.com/likhitd">Likhit Dharmapuri</a> using the following technologies and frameworks:
        </p>
    </header>
    
    <div>
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="http://twitter.github.com/bootstrap/">
                    <img src="http://twitter.github.com/bootstrap/assets/ico/favicon.png" alt="Twitter Bootstrap">
                </a>
                <div class="media-body">
                    <h2><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></h2>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="http://kineticjs.com/">
                    <img src="img/kineticjs.png" alt="KineticJS">
                </a>
                <div class="media-body">
                    <a href="http://kineticjs.com/"><h2>KineticJS</h2></a>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="http://html5boilerplate.com/">
                    <img src="apple-touch-icon.png" alt="HTML5 Boilerplate">
                </a>
                <div class="media-body">
                    <a href="http://html5boilerplate.com/"><h2>HTML5 Boilerplate</h2></a>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="http://jquery.com/">
                    <img src="img/jQuery.png" alt="jQuery">
                </a>
                <div class="media-body">
                    <a href="http://jquery.com/"><h2>jQuery</h2></a>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="https://developers.google.com/appengine/">
                    <img src="https://ssl.gstatic.com/images/icons/product/app_engine-64.png" alt="Google App Engine">
                </a>
                <div class="media-body">
                    <a href="https://developers.google.com/appengine/"><h2>Google App Engine</h2></a>
                </div>
            </li>
        </ul>
        <br>
        *This application also mimics the <a href="http://office.microsoft.com/en-in/">Office 2013</a> ribbon interface.
    </div>

    <div class="invisible">
        EVIL STYLING PURPOSE DIV. PUSH DOWN TEXT. TO REMAIN INVISIBLE.<br><br><br>
    </div>
</div>